.container-inventory{
  background-color: #ffffff03;
  border-top: 1px solid #ffdc98;
  border-bottom: 1px solid #ffdc98;
  color: white;
  border-radius: 12px;
  padding: 24px;
}
.container-filter{
  display: block;
  .categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap:16px;
    button{
      padding: 8px;
      color:#ffdc98;
      border: none;
      appearance: none;
      background-color: transparent;
      border-radius: 4px;
      background-color: #0a0a0a;
      border-bottom: 1px solid #ffdc98;
    }
    select{
      padding: 12px;
      color:#ffdc98;
      border-radius: 4px;
      background-color: #0a0a0a;
      border: 0;
    }
    select::after {
      content: '▼';
      position: absolute;
      right: 8px;
      pointer-events: none;
    }
    option:disabled {
      text-decoration: line-through;
      color: gray;
    }
  }
}
.search{
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-left: 16px;
  label{
    color: #ffdc98;
  }
  input{
    color:#ffdc98;
    appearance: none;
    outline: none !important;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ffdc98;
  }
  input::placeholder {
    color:#ffdc98;
  }
  input:focus{
    appearance: none;
    outline: none;
    box-shadow: none;
  }
}
.card{
  min-height: 490px;
  background: linear-gradient(
  180deg,
  #0a0a0a 40%,
  #1a1a1a 70%,
  #ffdc98 100%
  );
  border: none;
  border-top: 1px solid #ffdc98;
  border-radius: 12px;
  margin-top: 48px;
  color: #e3d6c1;
  .card-body{
    color: #a3a3a3;
    padding: 12px 0px 0px 0px;
    background-color: #26262617;
    margin: 16px 16px 0 16px;
    border-radius: 12px 12px 0px 0px;
    text-align: center;
    .card-title{
      p:first-child {
        color: #e3d6c1;
      }
    }
  }
  .card-footer{
    flex-wrap: wrap;
    gap: 24px;
    padding: 16px;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.card-classified{
  background: linear-gradient(
  330deg,
  #0a0a0a 40%,
  #1a1a1a 70%,
  #791b1b 100%
  );
  border: none;
  border-top: 1px solid #ff9898;
}
.card-restricted{
  background: linear-gradient(
  330deg,
  #0a0a0a 40%,
  #1a1a1a 70%,
  #791b4f 100%
  );
  border: none;
  border-top: 1px solid #ff85fd;
}
.card-extremely{
  background: linear-gradient(
  330deg,
  #0a0a0a 40%,
  #1a1a1a 70%,
  #59481b 100%
  );
  border: none;
  border-top: 1px solid #ffce85;
}
.img-container{
  width: 100%;
  overflow: hidden;
}
.img-product{
  padding: 16px;
  display: block;
  margin: 0 auto;
  height: 200px;
}
.img-filling{
  width: 100%;
  height: 200px;
  background-color: #ccc;
}
.no-product{
  min-height: 50vh;
}
@media (min-width:720px){
  .container-filter{
    .categories{
      flex-direction: row;
    }
  }
  .search{
    input{
      width: 25%;
    }
  }
}
