<div class="container-inventory">
  <div class="container-filter">
    <div class="categories pt-3">
      <button (click)="getProductList()">Todas las armas</button>
      <select
        class="select"
        [(ngModel)]="selectedCategory1"
        (ngModelChange)="searchForCategory(selectedCategory1)"
      >
        <option disabled value="">Cuchillos</option>
        <option value="knife">Cuchillos</option>
        <option value="bowie">Bowie</option>
      </select>
      <select
        [(ngModel)]="selectedCategory2"
        (ngModelChange)="searchForCategory(selectedCategory2)"
      >
        <option disabled value="">Rifles</option>
        <option value="rifle">Rifles</option>
        <option value="ak-47">Ak-47</option>
        <option value="m4a1-s">M4a1-s</option>
      </select>
      <select
        [(ngModel)]="selectedCategory3"
        (ngModelChange)="searchForCategory(selectedCategory3)"
      >
        <option disabled value="">Francotiradores</option>
        <option value="sniper">Francotiradores</option>
        <option value="awp">Awp</option>
      </select>
    </div>
    <div class="search pt-5">
      <input
        class="form-control"
        type="text"
        placeholder="Buscar por skin..."
        name="title"
        #title="ngModel"
        [(ngModel)]="search"
        (ngModelChange)="searchChange()"
      />
      <label class="d-flex align-items-center justify-content-center"
        ><ng-icon name="biSearch"
      /></label>
      @if(title.touched && !title.valid){
      <span class="badge bg-danger">Campo título no válido.</span>
      }
    </div>
  </div>
  <div class="row pt-4">
    @if (productListFiltered.length<=0) {
    <div class="pt-5 no-product">No se han encontrado productos...</div>
    } @else { @for (product of productListFiltered; track product.id) {
    <div class="col-lg-4">
      <div [className]="[ `card img-container card-${product.rareLevel}`]">
        @if (product.img) {
        <img class="img-fluid rounded img-product" [src]="product.img" />
        } @else {
        <div class="img-filling"></div>
        }
        <div class="card-body">
          <div class="card-title">
            <p>
              <strong
                >{{
                  product.gun.includes("knife")
                    ? "★"
                    : product.gun.toLocaleUpperCase() + " |"
                }}
                {{ product.name }}</strong
              >
            </p>
          </div>
          @if (product.phase) {
          <p><strong>Phase:</strong> {{ product.phase }}</p>
          }
          <p><strong>Exterior:</strong> {{ product.exterior }}</p>
          <p><strong>Float:</strong> {{ product.float }}</p>
        </div>
        <div class="card-footer">
          <app-button
            [goTo]="product.inspect"
            classButton="btn btn-inventory d-flex align-items-center justify-content-center gap-1"
            ><ng-icon name="biSearch" /> Inspeccionar</app-button
          >
          <app-button
            [goTo]="product.chatWspUrl"
            classButton="btn btn-inventory-buy d-flex align-items-center justify-content-center gap-1"
            ><ng-icon class="icon" name="biCart" />Comprar</app-button
          >
        </div>
      </div>
    </div>
    } }
  </div>
</div>
