#nav{
  background-color: #17120a;
  display: none;
}
#nav ul{
  padding: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}
#nav ul li a{
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: white;
}
#nav ul li a:hover{
  transition: background-color 0.5s ease-out;
  background-color: #241c10;
}
.active {
  border-bottom: 3px solid #ffdc98;
}

@media (min-width: 720px) {
  #nav{
    display: block;
  }
}
