<div class="container-rss-icons">
  <app-button
    goTo="www.instagram.com/skinopolycs"
    classButton="btn-rss btn-sell"
  >
    <div class="d-flex align-items-center justify-content-center gap-2">
      <ng-icon name="biInstagram" />
      Instagram
    </div>
  </app-button>
  <app-button
    goTo="www.steamcommunity.com/id/CHR1SKLAUS/"
    classButton="btn-rss btn-sell"
  >
    <div class="d-flex align-items-center justify-content-center gap-2">
      <ng-icon name="biSteam" />
      Steam
    </div>
  </app-button>
</div>
